*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #1f2123;
}
.all{
    color: greenyellow;
}
.contactmebox{

    display: flex;
    align-items: center;
    justify-content: center;
}

.mailbox{
    display: flex;
    align-items: center;
    justify-content: center ;
}


